.food-card-text {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    color: #ffffff;
}

.food-card-text1 {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
}

.styles_ribbon__3tZ21 {
    display: inline-block;
    line-height: 1.15rem;
    font-size: .93rem;
    color: #ee9c00;
    font-weight: 500;
    font-family: ProximaNovaCondensedBold,arial,Helvetica Neue,sans-serif;
}

.styles_itemImage__3CsDL {
    width: 118px;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}

.add-btn-food {
    cursor: pointer;
    padding: 5px 0px;
    color: #60b246;
    position: relative;
    top: -40px;
    background-color: #ffffff;
    border-radius: 10%;
}

.cart-add-btn-food {
    cursor: pointer;
    padding: 3px 0px;
    color: #60b246;
    background-color: #ffffff;
    border: 1px solid #60b246;
}

.checkout-btn {
    cursor: pointer;
    padding: 3px 0px;
    color: #ffffff;
    width: 100%;
    background-color: #60b246;
    border: 1px solid #60b246;
}